body {
	font-family: sans-serif !important;	
}

h1 {
	text-align: center;
}

#hea {

	border: solid red;
	background-color: #ff5050;
}

nav {
	border: solid blue;
	background-color: #33cc33;	
	display: flex;
}

nav ul {
	flex: 2;

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 40px 20px 0px;
}

nav ul li {
	list-style-type: none;
}

#login_panel {
	background-color: 3399ff;
	border: solid green;
	width: 200px;
}

section {
	border: solid black;
}

a {
	text-decoration: none;
}

.error {color: #FF0000;}

.imgs
{
	width: 148px;
	height: 150px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 1px;
}

.imgs_panier {
	width: 148px;
	height: 149px;
	text-align: center;
	margin-bottom: 1px;
	position: relative;
	left: 1px;
	margin-left: 1px;
	margin-top: 1px;
}

.imgs_recap {
	height: 98px;
	width: 87px;
	text-align: center;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-top: 1px;
}

.txt_panier {
	position: relative;
	top: -130px;
	margin-left: 160px;
}

.txt_qtepanier {
	position: relative;
	top: -70px;
	left: 330px;
}

.txt_qterecap {
	position: relative;
	top: -75px;
	left: 330px;
}

.txt_recap {
	position: relative;
	text-decoration: underline;
	top: -80px;
	left: 330px;
}

.txt_titlepanier {
	position: relative;
	font-weight: bold;
	font-size: 20px;
	top: -130px;
	margin-left: 10px;
}

.txt_titlerecap {
	position: relative;
	font-weight: bold;
	font-size: 20px;
	top: -75px;
	margin-left: 10px;
}

.date_recap {
	position: relative;
	font-size: 14px;
	text-align: right;
	top: -90px;
	right: -365px;
}

.prod {
	width: 150px;
	height: 290px;
	background-color: grey;
}

.panier {
	width: 500px;
	height: 152px;
	margin-top: 5px;
	background-color: grey;
}

.div_recap {
	width: 500px;
	height: 100px;
	/*margin-top: 5px;*/
	list-style-type: none;
	background-color: #9FF781;
}

#ul_liste li {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	margin-left: 10px;
	vertical-align: top;
}

#ul_listepanier li {
	text-align: left;
	list-style-type: none;
	margin-left: 10px;
	margin-bottom: 1px;
	vertical-align: top;
}

#form {
	display: inline-block;
	list-style-type: none;
}
